@model WebApplication1.Models.HakkimizdaViewModel
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
};
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hakkımızda Sayfası</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Hakkımızda</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Hakkımızda sayfası içerikleri</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>FOTOĞRAF</th>
                                        <th>BAŞLIK</th>
                                        <th>ÜSTBAŞLIK</th>
                                        <th>İÇERİk</th>
                                        <th>GÜNCELLE</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.id</td>
                                        <td><img src="~/Content/img/@Model.foto" style="width:150px"/></td>
                                        <td>@Model.baslik</td>
                                        <td>@Model.ustbaslik</td>
                                        <td>@Model.icerik</td>
                                        <td>
                                            @Html.ActionLink("Güncelle","HakkimizdaGuncelle",null, new {@class="btn btn-info"})
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper --><h2>Index</h2>

